.login-wrapper {
    width: 100%;
    overflow: hidden;
    height: 100vh;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.login-wrapper.bg-img {
    background-image: url(../img/authentication/login-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.login-wrapper.bg-img .login-content {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(17px);
}
.login-wrapper.bg-img.register-wrap {
    background-image: url(../img/authentication/register-img.jpg);
}
.login-wrapper.bg-img.forgot-pass-wrap {
    background-image: url(../img/authentication/forgot-password-img.jpg);
}
.login-wrapper.bg-img.reset-pass-wrap {
    background-image: url(../img/authentication/reset-password-img.jpg);
}
.login-wrapper.bg-img.email-veri-wrap {
    background-image: url(../img/authentication/email-verification-img.jpg);
}
@media (max-width: 991.96px) {
    .login-wrapper.bg-img {
        background-image: none;
    }
}
.login-wrapper .login-content {
    height: 100vh;
    padding: 24px;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    flex-wrap: wrap;
}
.login-wrapper .login-content form {
    width: 70%;
}
@media (max-width: 991.96px) {
    .login-wrapper .login-content form {
        width: 100%;
    }
}
.login-wrapper .login-content.authent-content {
    width: 50%;
}
@media (max-width: 991.96px) {
    .login-wrapper .login-content.authent-content {
        width: 100%;
    }
}
.login-wrapper .login-content .login-logo {
    display: block;
    max-width: 150px;
    margin: auto;
}
.login-wrapper .login-content .login-logo img {
    margin-bottom: 25px;
}
@media (max-width: 991.96px) {
    .login-wrapper .login-content .login-userset {
        margin-top: 30px;
    }
}
.login-wrapper .login-content .login-userset .my-4 {
    margin-top: 50px !important;
}
.login-wrapper .login-content .login-userset .my-4 p {
    font-size: 14px;
    color: #092c4c;
    margin-bottom: 0;
    font-weight: 400;
}
.login-wrapper .login-content .login-userset form .otp-box {
    margin-bottom: 34px;
}
.login-wrapper .login-content .login-userset form .otp-box input {
    width: 74px;
    height: 74px;
    background: #ffffff;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    text-align: center;
    margin-right: 15px;
    font-weight: 700;
    font-size: 26px;
    color: #000000;
    outline: none;
}
@media (max-width: 574.98px) {
    .login-wrapper .login-content .login-userset form .otp-box input {
        width: 50px;
        height: 50px;
    }
}
.login-wrapper .login-content .login-userset form .otp-box input::placeholder {
    color: #74788d;
}
.login-wrapper .login-content .login-userset form .otp-box input:last-child {
    margin-right: 0px;
}
.login-wrapper .login-content .login-userset .Otp-expire {
    border-radius: 8px;
    background: rgba(255, 0, 0, 0.05);
    padding: 10px 12px;
    max-width: 200px;
    margin: auto;
}
.login-wrapper .login-content .login-userset .Otp-expire p {
    color: #ff0000;
    font-size: 14px;
    font-weight: 400;
}
.login-wrapper .login-content .login-userheading {
    margin: 0 0 24px;
}
.login-wrapper .login-content .login-userheading h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 10px;
    color: #000000;
}
.login-wrapper .login-content .login-userheading h4 {
    font-size: 15px;
    font-weight: 400;
    color: #092c4c;
    line-height: 1.4;
}
.login-wrapper .login-content .login-userheading .verfy-mail-content {
    max-width: 400px;
    margin-bottom: 40px;
}
.login-wrapper .login-content .form-login {
    margin-bottom: 15px;
}
.login-wrapper .login-content .form-login label {
    width: 100%;
    color: #092c4c;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 400;
}
.login-wrapper .login-content .form-login .form-addons {
    position: relative;
}
.login-wrapper .login-content .form-login .form-addons img {
    position: absolute;
    top: 16px;
    right: 20px;
}
.login-wrapper .login-content .form-login input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(145, 158, 171, 0.32);
    border-radius: 5px;
    padding: 0 15px;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.login-wrapper .login-content .form-login input:focus {
    border: 1px solid #fe9f43;
}
.login-wrapper .login-content .form-login .btn-login {
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    background: #fe9f43;
    border-color: #fe9f43;
    padding: 10px;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-top: 5px;
    color: #ffffff;
}
.login-wrapper .login-content .form-login .btn-login:hover {
    box-shadow: 0 50px #ffffff inset !important;
    color: #fe9f43;
}
.login-wrapper .login-content .form-login .alreadyuser {
    margin-bottom: 15px;
}
.login-wrapper .login-content .form-login .alreadyuser h4 {
    font-size: 14px;
    font-weight: 400;
    color: #b8bcc9;
}
.login-wrapper .login-content .form-login .alreadyuser h4 a {
    color: #fe9f43;
    font-weight: 600;
}
.login-wrapper .login-content .form-login .custom-control.custom-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 574.98px) {
    .login-wrapper .login-content .form-login .custom-control.custom-checkbox {
        justify-content: start;
    }
}
.login-wrapper
    .login-content
    .form-login
    .custom-control.custom-checkbox
    .custom-control-input {
    width: auto;
    height: auto;
}
.login-wrapper
    .login-content
    .form-login
    .custom-control.custom-checkbox
    .custom-control-label {
    margin-bottom: 0;
    margin-left: 8px;
}
.login-wrapper .login-content .form-login .forgot-link {
    color: #ff0000;
    font-size: 15px;
    font-weight: 600;
}
.login-wrapper .login-content .signinform {
    margin-bottom: 23px;
}
.login-wrapper .login-content .signinform h4 {
    font-size: 15px;
    font-weight: 400;
    color: #092c4c;
}
@media (max-width: 574.98px) {
    .login-wrapper .login-content .signinform h4 {
        font-size: 14px;
    }
}
.login-wrapper .login-content .signinform h4 a {
    color: #092c4c;
    font-weight: 700;
    font-size: 14px;
}
.login-wrapper .login-content .signinform .hover-a.resend {
    color: #ff0000;
}
.login-wrapper .login-content .form-setlogin {
    text-align: center;
    position: relative;
    color: #b8bcc9;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 23px;
}
.login-wrapper .login-content .form-setlogin h4 {
    position: relative;
    font-size: 14px;
    color: #646b72;
    font-weight: 700;
}
.login-wrapper .login-content .form-setlogin h4:after {
    content: "";
    background: #b8bcc9;
    width: 21px;
    height: 1px;
    position: absolute;
    top: 10px;
    left: 200px;
}
@media (max-width: 991.96px) {
    .login-wrapper .login-content .form-setlogin h4:after {
        height: 0px;
    }
}
.login-wrapper .login-content .form-setlogin h4:before {
    content: "";
    background: #b8bcc9;
    width: 21px;
    height: 1px;
    position: absolute;
    top: 10px;
    right: 200px;
}
@media (max-width: 991.96px) {
    .login-wrapper .login-content .form-setlogin h4:before {
        height: 0px;
    }
}
.login-wrapper .login-content .form-setlogin.or-text {
    max-width: 365px;
    margin: auto;
}
.login-wrapper .login-content .toggle-password {
    cursor: pointer;
    width: 30px;
    height: 30px;
    color: #b8bcc9;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    border-radius: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 10px;
}
.login-wrapper .login-content .toggle-password:hover {
    color: #fe9f43;
}
.login-wrapper .login-content .toggle-passwords {
    cursor: pointer;
    width: 30px;
    height: 30px;
    color: #b8bcc9;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    border-radius: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 10px;
}
.login-wrapper .login-content .toggle-passwords:hover {
    color: #fe9f43;
}
.login-wrapper .login-content .pass-group {
    position: relative;
    font-size: 14px;
}
.login-wrapper .login-content .pass-group .fas {
    font-size: 13px;
    color: #939ea8;
}
.login-wrapper .login-content .form-sociallink {
    margin-top: 25px;
}
.login-wrapper .login-content .form-sociallink ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.login-wrapper .login-content .form-sociallink ul li {
    text-align: center;
    margin-right: 10px;
}
@media (max-width: 574.98px) {
    .login-wrapper .login-content .form-sociallink ul li {
        width: 100%;
        margin-bottom: 20px;
    }
}
.login-wrapper .login-content .form-sociallink ul li:last-child {
    padding-right: 0;
}
@media (max-width: 574.98px) {
    .login-wrapper .login-content .form-sociallink ul li:last-child {
        padding-right: 0;
    }
}
.login-wrapper .login-content .form-sociallink ul li a {
    color: #092c4c;
    width: 100%;
    border: 1px solid rgba(145, 158, 171, 0.23);
    background: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    border-radius: 10px;
    margin: 0 10px 0 0;
    padding: 15px 53px;
    font-weight: 500;
}
.login-wrapper .login-content .form-sociallink ul li a:hover {
    background: #fe9f43;
    color: #ffffff;
}
.login-wrapper .login-content .form-sociallink ul li a img {
    width: 24px;
    height: 24px;
}
.login-wrapper .login-content .form-sociallink ul li .facebook-logo {
    border-radius: 10px;
    background: #1877f2;
}
.login-wrapper .login-content .form-sociallink ul li .apple-logo {
    border-radius: 10px;
    background: #000000;
}
.login-wrapper .login-content.user-login {
    width: 100%;
    padding: 0;
    overflow: hidden;
    flex-wrap: nowrap;
    flex-direction: column;
    height: auto;
    margin: 50px 0;
}
.login-wrapper .login-content.user-login form {
    width: 100%;
}
.login-wrapper .login-content.user-login .login-userset {
    background: #ffffff;
    box-shadow: 0px 4px 60px 0px rgba(190, 190, 190, 0.27);
    margin: 0;
    padding: 40px;
    border: 1px solid #a6aaaf;
}
.login-wrapper .login-img {
    background: #ffdaba;
}
@media (max-width: 991.96px) {
    .login-wrapper .login-img {
        display: none;
    }
}
.login-wrapper .login-img img {
    width: 100%;
    height: 100vh;
}
.login-wrapper .login-userset .login-logo.login-info {
    display: block;
    max-width: 150px;
    margin: auto;
}
.login-wrapper .login-logo {
    max-width: 150px;
    margin: auto;
}

.login-wrapper.login-new {
    overflow: auto;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    background-image: url(../img/authentication/login-bg.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100% 500px;
}
.login-wrapper.login-new
    .login-content.user-login
    .login-userset
    form
    .otp-box {
    margin-bottom: 34px;
}
.login-wrapper.login-new
    .login-content.user-login
    .login-userset
    form
    .otp-box
    input {
    width: 74px;
    height: 74px;
    background: #ffffff;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    text-align: center;
    margin-right: 15px;
    font-weight: 700;
    font-size: 26px;
    color: #000000;
    outline: none;
}
@media (max-width: 574.98px) {
    .login-wrapper.login-new
        .login-content.user-login
        .login-userset
        form
        .otp-box
        input {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 574.98px) {
    .copyright-text p {
        text-align: center;
        max-width: 215px;
    }
}
/* -----------Theme Settings--------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-theme {
    background-color: #e63946;
}

input:not([type="checkbox"]):not([type="radio"]) {
    width: 100%;
    padding: 10px 10px 10px 35px;
    border: 1px solid #555;
    border-radius: 5px !important;
    padding-left: 30px !important;
    background: transparent;
    font-size: 16px;
}

textarea {
    width: 100%;
    padding: 10px 10px 10px 35px;
    border: 1px solid #555 !important;
    border-radius: 5px !important;
    padding-left: 30px !important;
    background: transparent !important;
    font-size: 16px;
}
/* input:focus,
input:hover,
input:active {
    outline: none !important;
    border: 1px solid rgba(255, 255, 255, 0.6);
} */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

input::placeholder,
textarea::placeholder {
    /* color: #eee; */
    text-transform: uppercase;
    font-size: 12px !important;
}

select option {
    background: #454545 !important;
    color: white;
}

select:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

select {
    width: 100%;
    padding: 10px 20px 10px 35px !important;
    padding-left: 30px !important;
    border: 1px solid #555 !important;
    border-radius: 5px !important;
    background: transparent;
    color: white;
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg fill='white' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
    box-shadow: 0px 0px 3px #e5e5e5;
    outline: 1px solid #454545;
    text-transform: uppercase !important;
}

select::placeholder,
select option:first-child {
    text-transform: uppercase !important;
}

select:focus,
select:hover,
select:active {
    outline: 1px solid #454545 !important;
    box-shadow: 0px 0px 3px #0e0e0e;
    /* border: 1px solid rgba(255, 255, 255, 0.6); */
}
input:focus,
input:hover,
input:active {
    outline: 1px solid #454545 !important;
    box-shadow: 0px 0px 3px #0e0e0e;
    /* border: 1px solid rgba(255, 255, 255, 0.6); */
}

/* Invalid input after interaction (not placeholder) */
input:invalid:not(:placeholder-shown) {
    outline-color: #dc3545;
    /* box-shadow: 0 0 0 0.15rem rgba(220, 53, 69, 0.2); */
}

/* Valid input after interaction */
input:valid:not(:placeholder-shown) {
    outline-color: #28a745;
    /* box-shadow: 0 0 0 0.15rem rgba(40, 167, 69, 0.2); */
}
.theme-btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}

/* Buttons solid versions */
.theme-btn-primary {
    color: #fff;
    background-color: #5f0000;
}

.theme-btn-primary:hover {
    color: #fff;
    background-color: #5f0000;
}

.theme-btn-secondary {
    background: #d49d1c;
    color: #fff;
}

.theme-btn-secondary:hover {
    background: #c59118;
    color: #fff;
}

.theme-btn-white {
    background: #fff;
    color: #5f0000;
}

.theme-btn-white:hover {
    background: #ddd;
}

.theme-btn-dark {
    background: #454545;
    color: #fff;
}

.theme-btn-dark:hover {
    background: #252525;
    color: #fff;
}
/* Outline Buttons */
.theme-btn-outline-primary {
    background: transparent;
    color: #5f0000;
    border: 2px solid #5f0000 !important;
    transition: all 0.8s ease-in-out;
}

.theme-btn-outline-primary:hover {
    background: #5f0000;
    color: #fff;
}

.theme-btn-outline-secondary {
    background: transparent;
    color: #fff;
    border: 2px solid #d49d1c !important;
}

.theme-btn-outline-secondary:hover {
    background: #d49d1c;
    color: #fff;
}

.theme-btn-outline-white {
    background: transparent;
    color: #fff;
    border: 2px solid #fff !important;
}

.theme-btn-outline-white:hover {
    background: #fff;
    color: #5f0000;
}

.theme-btn-outline-dark {
    background: transparent;
    color: #fff;
    border: 2px solid #454545 !important;
}

.theme-btn-outline-dark:hover {
    background: #454545;
    color: #fff;
}
nav {
    z-index: 333;
}
#toast-container {
    z-index: 9999999999 !important;
    background: transparent;
}

/* Other Settings */
